.reveal section img.no-border {
	border: 0;
	background: none;
	box-shadow: none;
}

.reveal .highlight {
	color: #13daec;
}

.reveal .better-quote {
	width: 100%;
	margin-top: 50px;
}

.reveal .left {
	float: left;
}

.reveal .full-width {
	width: 100%;
}

.reveal .bottom {
	margin-bottom: 100px;
}

.reveal .images {
	position: relative;
	min-height: 500px;
}

.reveal .images:after {
  content: "";
  display: table;
  clear: both;
}

.reveal .images .fragment {
	position: absolute;
}

.reveal .images .left {
	width: 25%;
	margin: 35px;
}


.reveal .images .phones {
	top: -15px;
	left: 100px;
}

.reveal .images .osx {
	top: 0;
	left: 50px;
}

.reveal .images .lion {
	top: -5px;
	right: 0;
}

.reveal .images .mavericks {
	top: -10px;
	left: 100px;
}

.reveal .images .winxppro {
	top: 0;
	right: 0;
}

.reveal .images .windows7 {
	top: -20px;
	left: 0;
}

.reveal .images .windows8 {
	top: -15px;
	left: 50px;
}

.reveal .images .terminator {
	top: 0;
	left: 100px;
}